# elf2x68k build outputs
/src/*.o
/src/*.d
/src/*.elf*
/src/human.sys
/src/build/
/src/introdat.h
/src/introdat.h.tmp
/src/titldat.h
/src/titldat.h.tmp
/src/demodat.h
/src/demodat.h.tmp
/src/herodat.h
/src/herodat.h.tmp
/doc/.tmp*

# Editor and OS files
.vscode/
*.swp
*~
Thumbs.db
.DS_Store

# Generated header temporary files
/src/*.h.tmp
/src/bgmpriv.h
/src/bgmstrm*.h
/dist/wdrpriv.xdf

# Python bytecode caches
__pycache__/
*.py[cod]
